@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lexend+Deca:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Inter', sans-serif;

}
body{
    min-height: 100vh;
    background: hsl(233, 47%, 7%);
    width: 100%;
    

}
.container{
    /* border: 2px solid #fff; */
 width: 80vw;
 height: 50vh;
}
.insights , .startImg{
    height: 100%;
    width: 50%;
    /* background-color: #fff; */

}
.insights{
    background: hsl(244, 38%, 16%);
   padding: 4% 5% 4% 5%;
   border-radius: 10px 0px 0px 10px;
}

.heading{
    font-size: 2rem;
font-family: 'Lexend Deca', sans-serif;
padding-bottom: 10px;

}
.heading span{
    color: hsl(277, 64%, 61%);
}
.para{
    line-height: 1.5;
    color: hsla(0, 0%, 100%, 0.75);
padding-bottom: 10px;

}

.row{
    text-transform: uppercase;
padding-bottom: 10px;

}
.row h4{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 10px;
}
.row p{
    color: hsla(0, 0%, 100%, 0.75);
}




.startImg img{
    width: 100%;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
}
.startImg {
    position: relative;
    border-radius: 0px 10px 10px 0px;
    background: url('/images/image-header-desktop.jpg');

}
.startImg::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: hsla(277, 64%, 61%, 0.592);
    position: absolute;

   
    border-radius: 0px 10px 10px 0px;

   
}


@media only screen and (max-width: 1050px) {

    .container{
        width: 85vw;
        height: 60vh;

    }
  }
@media only screen and (max-width: 800px) {
    
    .container{
        width: 85vw;
        height: 80vh;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .insights , .startImg{
        width: 100%;
        

    }

    .insights{
        border-radius: 0px 0px 10px 10px;
        height: 65vh;
        padding-top: 20px;
    }

   .startImg , .startImg img, .startImg::before{
    border-radius: 10px 10px 0px 0px;
    height: 31vh;
   }
  }



  @media only screen and (max-width: 500px) { 

    .container{
        width: 95vw;
        height: 95vh;  
    }
    .startImg{
        background: url('/images/image-header-mobile.jpg')no-repeat center/cover;

    }
    .insights{
        justify-content: center;
        align-content: center;
        text-align: center;
        padding: 2% 3% 2% 3%;
        padding-top: 35px;
    }
    .heading{
        font-size: 30px;
        padding-top: 20px;
    }
    .para{
        /* font-size: 1px; */
    }
    .row{
        flex-direction: column;
        margin: 10px 0px;
    }
    .row div{
        margin: 10px 0px;
    }

  }

  .attribution{
    position: absolute;
    bottom: 10px;
    text-decoration: none;
  }